name: Renovate
on:
  schedule:
    - cron: '0 3 * * *'  # Runs daily at 3 AM UTC
  workflow_dispatch:  # Allows manual trigger

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2

      - name: Run Renovate
        uses: renovatebot/github-action@v41.0.13
        env:
          LOG_LEVEL: debug  # Enable detailed logs
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}